body {
    background: linear-gradient(to left, #0095ff, #000000);;
    font-family: Arial Black;
}

.portefolio {
    transition: 0.8s;
    scale: 1.5;
    font-size: 60px;
    background: #000000;
    border: white;
    border-radius: 100px;
    display: flex;
    width: 400px;
    height: 200px;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.portefolio:hover {
    transition: 0.8s;
    scale: 0.8;
    background: #ffffff;
    color: #000000;
}

.cacher {
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

.lien {
    text-decoration: none !important;
}

.jaune {
    color: #ef9d10;
    background: white;
}

.arrondir {
    border-radius: 20px;
}

.bordure-grise {
    border-width: 5px;
    border-color: white;
    border-style: solid;
}

.bg-jaune {
    background: #ffffff;
}

.navbar-nav .nav-item:nth-child(1) {
    transition-delay: 0.1s;
}
.navbar-nav .nav-item:nth-child(2) {
    transition-delay: 0.2s;
}
.navbar-nav .nav-item:nth-child(3) {
    transition-delay: 0.3s;
}
.navbar-nav .nav-item:nth-child(4) {
    transition-delay: 0.4s;
}
.navbar-nav .nav-item:nth-child(5) {
    transition-delay: 0.5s;
}

.navbar-nav .nav-link {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-nav .nav-item {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
}

.navbar-nav .nav-item.animate {
    opacity: 1;
    transform: translateY(0);
}

#pigeon{
    width:30%;
    height:30%;
}
.pigeon {
    transition: opacity 1s ease-in-out;
}

.disparition {
    opacity: 0;
}
